<div id="eventByUser<%= eventByUser._id %>">
    <span><%= eventByUser.idUser %></span>
    <span><%= eventByUser.idPlace %></span>
    <span><%= eventByUser.eventName %></span>
    <span><%= eventByUser.description %></span>
</div>