<div id="event<%= event._id %>">
    <span><%= event.idUser %></span>
    <span><%= event.idPlace %></span>
    <span><%= event.eventName %></span>
    <span><%= event.description %></span>
    <span><%= event.activeOrDeleted %></span>
    <span><%= event.createdAt %></span>
    <span><%= event.updateAt %></span>
    <span><%= event.secretKey %></span>
    <span><%= event.isMeeting %></span>
    <span><%= event.isLive %></span>
    <span><%= event.isTest %></span>
    <span><%= event.isBeta %></span>
</div>