<div id="eventByUser<%= eventByUser._id %>">
    <span><%= eventByUser.idUser %></span>
    <span><%= eventByUser.idPlace %></span>
    <span><%= eventByUser.eventName %></span>
    <span><%= eventByUser.description %></span>
    <span><%= eventByUser.activeOrDeleted %></span>
    <span><%= eventByUser.createdAt %></span>
    <span><%= eventByUser.updateAt %></span>
    <span><%= eventByUser.secretKey %></span>
    <span><%= eventByUser.isMeeting %></span>
    <span><%= eventByUser.isLive %></span>
    <span><%= eventByUser.isTest %></span>
    <span><%= eventByUser.isBeta %></span>
</div>