<div>
    <span><%= myEvent.idUser %></span>
    <span><%= myEvent.idPlace %></span>
    <span><%= myEvent.eventName %></span>
    <span><%= myEvent.description %></span>
    <span><%= myEvent.activeOrDeleted %></span>
    <span><%= myEvent.createdAt %></span>
    <span><%= myEvent.updateAt %></span>
    <span><%= myEvent.secretKey %></span>
    <span><%= myEvent.isMeeting %></span>
    <span><%= myEvent.isLive %></span>
    <span><%= myEvent.isTest %></span>
    <span><%= myEvent.isBeta %></span>
</div>